head
  // basic
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  // mobile metas
  meta(name='viewport' content='width=device-width, initial-scale=1')
  meta(name='viewport' content='initial-scale=1, maximum-scale=1')
  // site metas
  title the ultime game
  meta(name='keywords' content='')
  meta(name='description' content='')
  meta(name='author' content='')
  // bootstrap css
  link(rel='stylesheet' href='css/bootstrap.min.css')
  // style css
  link(rel='stylesheet' href='css/style.css')
  // Responsive
  link(rel='stylesheet' href='css/responsive.css')
  // fevicon
  link(rel='icon' href='images/fevicon.png' type='image/gif')
  // Scrollbar Custom CSS
  link(rel='stylesheet' href='css/jquery.mCustomScrollbar.min.css')
  // Tweaks for older IEs
  link(rel='stylesheet' href='https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css' media='screen')
  //if lt IE 9
    script(src='https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js')
    script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
#contact.contact
  .container
    .row
      .col-md-12
        form.contact_bg(action='' method='Post')
          .row
            .col-xl-12.col-lg-12.col-md-12.col-sm-12
              input.contactus(placeholder='Name' type='text' name='name')
              .col-xl-6.col-lg-6.col-md-6.col-sm-12
              input.contactus(placeholder='Mot de passe' type='password' name='motDePasse')
            .col-xl-6.col-lg-6.col-md-6.col-sm-12
              input.contactus(placeholder='Phone' type='text' name='phone')
            .col-xl-6.col-lg-6.col-md-6.col-sm-12
              input.contactus(placeholder='Email' type='text' name='email')
            .col-xl-12.col-lg-12.col-md-12.col-sm-12
              textarea.textarea(placeholder='Message' type='text' name='message')
            .col-xl-12.col-lg-12.col-md-12.col-sm-12
              button.send(type='submit')  Send
              br
            .col-xl-12.col-lg-12.col-md-12.col-sm-12
              button.send(type='submit' action='/')  Return
              footr
  .footer
    .container
      .row
        .col-md-12
          h2 Newsletter
        .col-md-10.offset-md-1
          form.news
            input.newslatter(placeholder='Enter Your Email' type='text' name='Enter Your Email')
            button.submit Subscribe
        .col-xl-12.col-lg-12.col-md-12.col-sm-12
          .row
            .col-xl-3.col-lg-3.col-md-6.col-sm-6
              .address
                ul.social_link
                  li
                    a(href='#')
                      img(src='icon/fb.png')
                  li
                    a(href='#')
                      img(src='icon/tw.png')
                  li
                    a(href='#')
                      img(src='icon/lin(2).png')
                  li
                    a(href='#')
                      img(src='icon/instagram.png')
                a(href='index.html')
                  img(src='images/logo.png' alt='logo')
            .col-lg-3.col-md-6.col-sm-6
              .address
                h3 Quick links
                ul.Menu_footer
                  li.active
                    img(src='images/3.png' alt='#')
                    a(href='#game') Game
                  li
                    img(src='images/3.png' alt='#')
                    a(href='#software') Software
                  li
                    img(src='images/3.png' alt='#')
                    a(href='#about') About
                  li
                    img(src='images/3.png' alt='#')
                    a(href='#testimonial')  Testimonial
                  li
                    img(src='images/3.png' alt='#')
                    a(href='#contact') Contact
            .col-lg-3.col-md-6.col-sm-6
              .address
                h3 downloded
                ul.Links_footer
                  li.active
                    img(src='images/3.png' alt='#')
                    a(href='#') Lorem Ipsum 
                  li
                    img(src='images/3.png' alt='#')
                    a(href='#') Simply random
                  li
                    img(src='images/3.png' alt='#')
                    a(href='#') Roots in a
                  li
                    img(src='images/3.png' alt='#')
                    a(href='#')  Piece
                  li
                    img(src='images/3.png' alt='#')
                    a(href='#') Classical
            .col-lg-3.col-md-6.col-sm-6
              .address
                h3 Contact us 
                ul.loca
                  li
                    a(href='#')
                      img(src='icon/loc.png' alt='#')
                    | London 145
                    br
                    | United Kingdom
                  li
                    a(href='#')
                      img(src='icon/email.png' alt='#')
                    | demo@gmail.com
                  li
                    a(href='#')
                      img(src='icon/call.png' alt='#')
                    | +12586954775
    .copyright
      .container
        p
          | &copy; 2019 All Rights Reserved. 
          a(href='https://html.design/') Free html Templates
              script(src='js/jquery.min.js')
script(src='js/popper.min.js')
script(src='js/bootstrap.bundle.min.js')
script(src='js/jquery-3.0.0.min.js')
script(src='js/plugin.js')
// sidebar
script(src='js/jquery.mCustomScrollbar.concat.min.js')
script(src='js/custom.js')
script(src='https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js')
