head
  // basic
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  // mobile metas
  meta(name='viewport' content='width=device-width, initial-scale=1')
  meta(name='viewport' content='initial-scale=1, maximum-scale=1')
  // site metas
  title the ultime game
  meta(name='keywords' content='')
  meta(name='description' content='')
  meta(name='author' content='')
  // bootstrap css
  link(rel='stylesheet' href='css/bootstrap.min.css')
  // style css
  link(rel='stylesheet' href='css/style.css')
  // Responsive
  link(rel='stylesheet' href='css/responsive.css')
  // fevicon
  link(rel='icon' href='images/fevicon.png' type='image/gif')
  // Scrollbar Custom CSS
  link(rel='stylesheet' href='css/jquery.mCustomScrollbar.min.css')
  // Tweaks for older IEs
  link(rel='stylesheet' href='https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css' media='screen')
  //if lt IE 9
    script(src='https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js')
    script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
// body
// loader
.loader_bg
  .loader
    h1 the ultimate game
// end loader
// header
header
  // header inner
  .header-top
    .header
      .container-fluid
        .row
          .col-xl-3.col-lg-3.col-md-3.col-sm-3.col.logo_section
            .full
              .center-desk
                .logo
                  a(href='/')
                    h1 the ultimate game
          .col-xl-9.col-lg-9.col-md-9.col-sm-9
            ul.top_icon
              li.button_login
                a(href='/login') Login
              li
                a(href='/signup') Signup
    // end header inner
    // end header
    section.slider_section
      .banner_main
        .container-fluid
          .row
            .col-md-2.padding_left0
              .menu-area
                .limit-box
                  nav.main-menu
                    ul.menu-area-main
                      li.active
                        a(href='#game') Game
                      li
                        a(href='#software') Software
                      li
                        a(href='#about') About
                      li
                        a(href='#testimonial') Testimonial
                      li
                        a(href='#contact') Contact
            .col-xl-4.col-lg-4.col-md-4.col-sm-12
              .text-bg
                h1
                  | amazing
                  br
                  |  2d game
                span
                  | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                  br
                  |  tempor incididunt ut
                a(href='#') download
            .col-xl-6.col-lg-6.col-md-6.col-sm-12
              .text-img
                figure
                  img(src='images/img.png' alt='#')
// We are
#software.We_are
  .container
    .row
      .col-md-12
        .titlepage
          h2 Software
  .container-fluid
    .row
      .col-xl-6.col-lg-6.col-md-6.col-sm-12
        .box_bg
          .box_bg_img
            figure
              img(src='images/soft.jpg')
      .col-xl-6.col-lg-6.col-md-6.col-sm-12.border_right
        .box_text
          p
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborumLorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat
          a(href='#') Read more
// end We are
// about
#about.about
  .container
    .row
      .col-md-12
        .titlepage
          h2 About Our Game
    .row
      .col-md-12
        .about-box
          figure
            img(src='images/about.jpg' alt='#')
          p
            | consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
            br
            |  labore et dolore magna aliqua. Ut enim conseq
// end abouts
// testimonial
#testimonial.testimonial
  .container
    .row
      .col-md-12
        .titlepage
          h2 Testimonial
    .row
      .col-xl-8.col-lg-8.col-md-8.col-sm-12.offset-md-2
        .row.box
          .col-xl-3.col-lg-3.col-md-3.col-sm-12
            .testimonial_box
              figure
                img(src='images/test1.png' alt='#')
          .col-xl-5.col-lg-5.col-md-5.col-sm-12
            .testimonial_box
              figure
                img(src='images/test2.png' alt='#')
          .col-xl-3.col-lg-3.col-md-3.col-sm-12
            .testimonial_box
              figure
                img(src='images/test3.png' alt='#')
        .clients_box
          h3 Jecoo
          p
            | adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
            br
            | aliqua. Ut enim ad minim veniam, quis
            br
            | nostrud exercitation ullamco
// end testimonial
// contact
#contact.contact
  .container
    .row
      .col-md-12
        form.contact_bg
          .row
            .col-xl-12.col-lg-12.col-md-12.col-sm-12
              input.contactus(placeholder='Name' type='text' name='Name')
            .col-xl-6.col-lg-6.col-md-6.col-sm-12
              input.contactus(placeholder='Phone' type='text' name='Email')
            .col-xl-6.col-lg-6.col-md-6.col-sm-12
              input.contactus(placeholder='Email' type='text' name='Email')
            .col-xl-12.col-lg-12.col-md-12.col-sm-12
              textarea.textarea(placeholder='Message' type='text' name='Message')
            .col-xl-12.col-lg-12.col-md-12.col-sm-12
              button.send Send
// end contact
// footer
footr
  .footer
    .container
      .row
        .col-md-12
          h2 Newsletter
        .col-md-10.offset-md-1
          form.news
            input.newslatter(placeholder='Enter Your Email' type='text' name='Enter Your Email')
            button.submit Subscribe
        .col-xl-12.col-lg-12.col-md-12.col-sm-12
          .row
            .col-xl-3.col-lg-3.col-md-6.col-sm-6
              .address
                ul.social_link
                  li
                    a(href='#')
                      img(src='icon/fb.png')
                  li
                    a(href='#')
                      img(src='icon/tw.png')
                  li
                    a(href='#')
                      img(src='icon/lin(2).png')
                  li
                    a(href='#')
                      img(src='icon/instagram.png')
                a(href='index.html')
                  img(src='images/logo.png' alt='logo')
            .col-lg-3.col-md-6.col-sm-6
              .address
                h3 Quick links
                ul.Menu_footer
                  li.active
                    img(src='images/3.png' alt='#')
                    a(href='#game') Game
                  li
                    img(src='images/3.png' alt='#')
                    a(href='#software') Software
                  li
                    img(src='images/3.png' alt='#')
                    a(href='#about') About
                  li
                    img(src='images/3.png' alt='#')
                    a(href='#testimonial')  Testimonial
                  li
                    img(src='images/3.png' alt='#')
                    a(href='#contact') Contact
            .col-lg-3.col-md-6.col-sm-6
              .address
                h3 downloded
                ul.Links_footer
                  li.active
                    img(src='images/3.png' alt='#')
                    a(href='#') Lorem Ipsum 
                  li
                    img(src='images/3.png' alt='#')
                    a(href='#') Simply random
                  li
                    img(src='images/3.png' alt='#')
                    a(href='#') Roots in a
                  li
                    img(src='images/3.png' alt='#')
                    a(href='#')  Piece
                  li
                    img(src='images/3.png' alt='#')
                    a(href='#') Classical
            .col-lg-3.col-md-6.col-sm-6
              .address
                h3 Contact us 
                ul.loca
                  li
                    a(href='#')
                      img(src='icon/loc.png' alt='#')
                    | London 145
                    br
                    | United Kingdom
                  li
                    a(href='#')
                      img(src='icon/email.png' alt='#')
                    | demo@gmail.com
                  li
                    a(href='#')
                      img(src='icon/call.png' alt='#')
                    | +12586954775
    .copyright
      .container
        p
          | &copy; 2019 All Rights Reserved. 
          a(href='https://html.design/') Free html Templates
// end footer
// Javascript files
script(src='js/jquery.min.js')
script(src='js/popper.min.js')
script(src='js/bootstrap.bundle.min.js')
script(src='js/jquery-3.0.0.min.js')
script(src='js/plugin.js')
// sidebar
script(src='js/jquery.mCustomScrollbar.concat.min.js')
script(src='js/custom.js')
script(src='https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js')
